
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap');

:root {
  --color-primary: #0074e4;
  --color-secondary:#666;
  --color-discount:#ef394e ;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  font-weight: normal;
  min-height: 100vh;
  background-color: #dee1e2;
  overflow-x: hidden;
  font-family: 'Vazirmatn', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  direction: rtl;
}
a{
  text-decoration: none;
  color:var(--color-primary);
}
